<h1>Posts#index</h1>

<% if @posts.none? %>
  <div>There are no posts by now.</div>
<% else %>
  <% @posts.each do |post| %>
    <h2> <%= post.title %> </h2> 
    <p> <%= post.body %> </p>
    <% if user_signed_in? %>
      <div> Author: <%= User.find_by(id: post.user_id).email %> </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "New post", new_post_path %>
